.myBookings {
  font-family: "Lexend Deca";
}

.bookingCards {
  display: flex;
  gap: 2em;
  flex-flow: row wrap;
  padding: 0 1em;
  justify-content: center;
}

.doctorName {
  font-weight: bolder;
}

.apptInfo {
  font-weight: bold;
}

.bookingBtn {
  margin-top: 1em;
  text-align: center;
}
