.showProfileHeader {
  color: #0cb4ea;
  font-family: "Lexend Deca";
  font-weight: 900;
  text-align: center;
  margin-top: 0.5em;
}

.mainContainer {
  padding-top: 2rem;
  height: 65vh;
  display: flex;
  justify-content: center;
}

.profileContainer {
  height: 20em;
  min-height: 200px;
  display: flex;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #979797;
  transition: transform 100ms ease-in;
  width: 40em;
  padding: 10px;
}

.avatarImage {
  width: 20em;
  height: 10em;
  padding: 1rem;
}

.nav-item {
  font-size: 14px;
  align-items: center;
}

.profileHead {
  margin-left: 1rem;
}

.profileDetails {
  column-width: auto;
}
