.wordings {
  padding-left: 2%;
  text-align: center;
  font-family: "Lexend Deca";
  font-weight: 900;
  font-size: larger;
}

.heyDoc {
  color: #0cb4ea;
  font-family: "Lexend Deca";
  font-weight: 900;
}
