.siteHeader {
  border-bottom: 1px solid lightgray;
}

.navbar-expand-lg .navbar-nav .nav-item {
  font-family: "Lexend Deca";
  font-weight: 900;
  padding-right: 2rem;
}

.header__icon {
  object-fit: contain;
  height: 40px;
  margin-left: 20px;
}
