.footer {
  border-top: 1px solid lightgray;
  padding: 10px;
  text-align: center;
  color: #0cb4ea;
  font-family: "Lexend Deca";
  font-weight: 900;
}

.footer > p {
  padding: 5px;
  font-size: 14px;
}
