.myAppts {
  font-family: "Lexend Deca";
}

.apptCards {
  display: flex;
  gap: 2em;
  flex-flow: row wrap;
  padding: 0 1em;
  justify-content: center;
}

.doctorName {
  font-weight: bolder;
}

.apptInfo {
  font-weight: bold;
}

.apptBtn {
  margin-top: 1em;
  text-align: center;
}

.cardHeader {
  color: #0cb4ea;
}
